@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@media (max-width: 1300px) {
  main .background {
    background: url("../img/background-tablet.png") !important;
    max-width: 704px !important;
  }
  main .background .backround__container {
    max-width: 624px !important;
  }
  main .background .backround__container .background__container--box {
    margin-top: 671px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--footer {
    width: 624px;
  }
  main .prices .prices__container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    max-width: 704px !important;
  }
  main .prices .prices__container .prices__container--border {
    display: none;
  }
  main .prices .prices__container .prices__container--box1 {
    grid-area: 1/1/2/2;
  }
  main .prices .prices__container .prices__container--box2 {
    grid-area: 1/2/2/3;
  }
  main .prices .prices__container .prices__container--box3 {
    grid-area: 2/1/3/2;
    padding-top: 32px;
  }
}
@media (max-width: 1160px) {
  .top-sellers {
    margin-top: 100px !important;
  }
  .top-sellers .top-sellers__imgs {
    max-width: 754px !important;
  }
  .top-sellers .top-sellers__imgs .top-sellers__imgs--img3 {
    display: none;
  }
  .top-sellers .top-sellers__container {
    max-width: 754px !important;
  }
  .top-sellers .top-sellers__container .top-sellers__container--text {
    max-width: 306px !important;
  }
}
@media (max-width: 1100px) {
  .videoblog .videoblog__container {
    flex-direction: column;
    align-items: center;
  }
  .videoblog .videoblog__container .videoblog__container--content {
    max-width: 614px !important;
    width: 100%;
  }
  .videoblog .videoblog__container .videoblog__container--content .videoblog__container--content--ul {
    max-width: 464px !important;
  }
  .videoblog .videoblog__container .videoblog__container--image {
    max-width: 614px !important;
  }
  .videoblog .videoblog__line {
    display: none;
  }
}
@media (max-width: 900px) {
  .container {
    max-width: 704px !important;
  }
  .nav-links {
    display: none;
  }
  .burger-menu {
    display: flex !important;
  }
}
@media (max-width: 768px) {
  .background__container--scroll {
    max-width: 299px !important;
  }
  .background__container--scroll .scroll-button {
    font-size: 12px !important;
    line-height: 14px !important;
    border: none !important;
    background-color: rgba(28, 28, 28, 0) !important;
    padding: 0 !important;
  }
  header {
    max-width: 335px !important;
    margin: 0 auto;
  }
  main .background {
    background: url("../img/background-phone.png") !important;
    max-width: 335px !important;
  }
  main .background .backround__container {
    max-width: 295px !important;
  }
  main .background .backround__container .background__container--box {
    margin-top: 650px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--text {
    display: none;
  }
  main .background .backround__container .background__container--box .background__container--box--text1 {
    display: block !important;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.03em;
    text-align: left;
    color: white;
    max-width: 299px;
  }
  main .background .backround__container .modal1 {
    max-width: 311px !important;
  }
  main .background .backround__container .modal1 .modal1__titles {
    max-width: 102px !important;
    margin-left: 104px !important;
  }
  main .background .backround__container .modal1 .modal1__titles .modal1__titles--title1 {
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: -3% !important;
  }
  main .background .backround__container .modal1 .modal1__titles .modal1__titles--title2 {
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: -3% !important;
  }
  main .background .backround__container .modal1 .modal1__cards {
    max-width: 231px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  main .background .backround__container .modal1 .modal1__cards .modal1__cards--svg {
    display: block !important;
    margin: 0 auto;
    margin-top: 14px;
  }
  main .background .backround__container .modal1 .modal1__cards .modal1__cards--card1 {
    max-width: 231px !important;
    width: 100%;
  }
  main .background .backround__container .modal1 .modal1__cards .modal1__cards--card2 {
    display: none !important;
  }
  main .background .backround__container .modal1 .modal1__cards .modal1__cards--card3 {
    display: none !important;
  }
  main .background .backround__container .modal1 .modal1__container--form1 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 32px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form1 .modal1__container--form1--text1 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form1 .modal1__container--names {
    flex-direction: column;
  }
  main .background .backround__container .modal1 .modal1__container--form1 .modal1__container--names .modal1__container--names--form1 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
    padding-right: 77px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
    letter-spacing: -0.02em !important;
  }
  main .background .backround__container .modal1 .modal1__container--form1 .modal1__container--names .modal1__container--names--form2 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
    padding-right: 77px !important;
    margin-top: 14px;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
    letter-spacing: -0.02em !important;
  }
  main .background .backround__container .modal1 .modal1__container--form2 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form2 .modal1__container--form2--text2 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form2 .modal1__container--form2--form2 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
    padding-right: 77px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
    letter-spacing: -0.02em !important;
  }
  main .background .backround__container .modal1 .modal1__container--form3 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form3 .modal1__container--form3--text3 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form3 .modal1__container--form3--input {
    padding-top: 10.5px !important;
    padding-bottom: 10.5px !important;
    padding-left: 18px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--svg {
    width: 24px;
  }
  main .background .backround__container .modal1 .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--span {
    font-size: 14px !important;
    line-height: 17.07px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--form3 {
    width: 128px !important;
    font-size: 14px !important;
    line-height: 17.07px !important;
    padding-left: 14px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form4 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form4 .modal1__container--form4--text4 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form4 .modal1__container--form4--input {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--form4 {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--svg {
    padding-left: 30px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form5 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form5 .modal1__container--form5--text5 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  main .background .backround__container .modal1 .modal1__container--form5 .modal1__container--form5--input--form5 {
    padding-top: 14px !important;
    padding-left: 18px !important;
    padding-bottom: 60px !important;
    padding-right: 76px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
  }
  main .background .backround__container .modal1 .modal1__container--button {
    margin-left: 24px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
    margin-bottom: 32px !important;
  }
  main .background .backround__container .modal222 {
    max-width: 311px !important;
  }
  main .background .backround__container .modal222 .modal222__svg {
    margin-top: 14px;
    margin-left: 269px;
    width: 28px;
    height: 28px;
  }
  main .background .backround__container .modal222 .modal222__img--phone {
    display: block;
    position: absolute;
    top: 161px;
    border-radius: 15px;
  }
  main .background .backround__container .modal222 .modal222__img {
    display: none;
  }
  main .background .backround__container .modal222 .modal222__texts {
    max-width: 219px;
    margin-top: 90px;
    margin-left: 68px;
    padding-bottom: 160px;
  }
  main .background .backround__container .modal222 .modal222__texts .modal222__texts--title {
    font-size: 20px;
    line-height: 24px;
  }
  main .background .backround__container .modal222 .modal222__texts .modal222__texts--text {
    font-size: 14px;
    line-height: 16px;
  }
  main .background .backround__container .background__container--box {
    margin-top: 395px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--footer {
    flex-direction: column;
    align-items: start;
    margin-bottom: 20px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--text {
    font-size: 20px !important;
    line-height: 24px !important;
    max-width: 299px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--footer--buttons {
    max-width: 295px !important;
    padding-bottom: 32px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--footer--buttons .background__container--box--footer--buttons--button1 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  main .background .backround__container .background__container--box .background__container--box--footer--buttons .background__container--box--footer--buttons--button2 {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
  }
  main .prices .prices__container {
    display: flex !important;
    flex-direction: column;
    max-width: 336px !important;
  }
  main .prices .prices__container .prices__container--box2 {
    padding-top: 20px;
  }
  main .prices .prices__container .prices__container--box3 {
    padding-top: 20px;
  }
  .consumable__content {
    flex-wrap: wrap !important;
    justify-content: space-evenly !important;
  }
  .consumable__content--milkchoc {
    width: 336px !important;
  }
  .consumable__content--milk {
    width: 336px !important;
    top: 303px;
    right: 360px;
  }
  .consumable__content--nuts {
    margin-top: 32px !important;
    width: 336px !important;
    left: 360px;
  }
  .consumable__content--sweetchoc {
    margin-top: 32px !important;
    width: 336px !important;
    bottom: 305px;
  }
  .consumable .overlay__text2 {
    width: 300px;
  }
  .top-sellers {
    margin-top: 72px !important;
  }
  .top-sellers .top-sellers__title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .top-sellers .top-sellers__title--span {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .top-sellers .top-sellers__imgs {
    flex-direction: column;
    align-items: center;
  }
  .top-sellers .top-sellers__imgs .top-sellers__imgs--text {
    display: block !important;
    max-width: 306px;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: -0.02em;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 32px;
    margin-right: 30px;
  }
  .top-sellers .top-sellers__imgs .top-sellers__imgs--img1 {
    width: 335px !important;
    height: 464px !important;
  }
  .top-sellers .top-sellers__imgs .top-sellers__imgs--img2 {
    width: 335px !important;
    height: 464px !important;
  }
  .top-sellers .top-sellers__container .top-sellers__container--button {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
    margin: 0 auto;
  }
  .top-sellers .top-sellers__container .top-sellers__container--text {
    display: none !important;
  }
  .modal1 {
    max-width: 311px !important;
  }
  .modal1 .modal1__titles {
    max-width: 102px !important;
    margin-left: 104px !important;
  }
  .modal1 .modal1__titles .modal1__titles--title1 {
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: -3% !important;
  }
  .modal1 .modal1__titles .modal1__titles--title2 {
    font-size: 20px !important;
    line-height: 24px !important;
    letter-spacing: -3% !important;
  }
  .modal1 .modal1__cards {
    max-width: 231px !important;
    display: flex !important;
    flex-direction: column !important;
  }
  .modal1 .modal1__cards .modal1__cards--svg {
    display: block !important;
    margin: 0 auto;
    margin-top: 14px;
  }
  .modal1 .modal1__cards .modal1__cards--card1 {
    max-width: 231px !important;
    width: 100%;
  }
  .modal1 .modal1__cards .modal1__cards--card2 {
    display: none !important;
  }
  .modal1 .modal1__cards .modal1__cards--card3 {
    display: none !important;
  }
  .modal1 .modal1__container--form1 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 32px !important;
  }
  .modal1 .modal1__container--form1 .modal1__container--form1--text1 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .modal1 .modal1__container--form1 .modal1__container--names {
    flex-direction: column;
  }
  .modal1 .modal1__container--form1 .modal1__container--names .modal1__container--names--form1 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
    padding-right: 77px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
    letter-spacing: -0.02em !important;
  }
  .modal1 .modal1__container--form1 .modal1__container--names .modal1__container--names--form2 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
    padding-right: 77px !important;
    margin-top: 14px;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
    letter-spacing: -0.02em !important;
  }
  .modal1 .modal1__container--form2 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  .modal1 .modal1__container--form2 .modal1__container--form2--text2 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .modal1 .modal1__container--form2 .modal1__container--form2--form2 {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
    padding-right: 77px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
    letter-spacing: -0.02em !important;
  }
  .modal1 .modal1__container--form3 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  .modal1 .modal1__container--form3 .modal1__container--form3--text3 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .modal1 .modal1__container--form3 .modal1__container--form3--input {
    padding-top: 10.5px !important;
    padding-bottom: 10.5px !important;
    padding-left: 18px !important;
  }
  .modal1 .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--svg {
    width: 24px;
  }
  .modal1 .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--span {
    font-size: 14px !important;
    line-height: 17.07px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
  }
  .modal1 .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--form3 {
    width: 128px !important;
    font-size: 14px !important;
    line-height: 17.07px !important;
    padding-left: 14px !important;
  }
  .modal1 .modal1__container--form4 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  .modal1 .modal1__container--form4 .modal1__container--form4--text4 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .modal1 .modal1__container--form4 .modal1__container--form4--input {
    padding-top: 14px !important;
    padding-bottom: 14px !important;
    padding-left: 18px !important;
  }
  .modal1 .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--form4 {
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
  }
  .modal1 .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--svg {
    padding-left: 30px !important;
  }
  .modal1 .modal1__container--form5 {
    max-width: 263px !important;
    margin: 0 auto !important;
    margin-top: 18px !important;
  }
  .modal1 .modal1__container--form5 .modal1__container--form5--text5 {
    font-size: 12px !important;
    line-height: 14px !important;
  }
  .modal1 .modal1__container--form5 .modal1__container--form5--input--form5 {
    padding-top: 14px !important;
    padding-left: 18px !important;
    padding-bottom: 60px !important;
    padding-right: 76px !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 17.07px !important;
  }
  .modal1 .modal1__container--button {
    margin-left: 24px !important;
    padding-top: 12px !important;
    padding-bottom: 12px !important;
    padding-left: 28px !important;
    padding-right: 28px !important;
    margin-bottom: 32px !important;
  }
  .modal222 {
    max-width: 311px !important;
  }
  .modal222 .modal222__svg {
    margin-top: 14px !important;
    margin-left: 269px !important;
    width: 28px !important;
    height: 28px !important;
  }
  .modal222 .modal222__img--phone {
    display: block !important;
    position: absolute !important;
    top: 161px !important;
    border-radius: 15px !important;
  }
  .modal222 .modal222__img {
    display: none !important;
  }
  .modal222 .modal222__texts {
    max-width: 219px !important;
    margin-top: 90px !important;
    margin-left: 68px !important;
    padding-bottom: 160px !important;
  }
  .modal222 .modal222__texts .modal222__texts--title {
    font-size: 20px !important;
    line-height: 24px !important;
  }
  .modal222 .modal222__texts .modal222__texts--text {
    font-size: 14px !important;
    line-height: 16px !important;
  }
}
@media (max-width: 680px) {
  .consumable__content {
    justify-content: center !important;
  }
  .consumable__content--milk {
    margin-top: 32px !important;
    width: 336px !important;
    top: 0;
    right: 0;
  }
  .consumable__content--nuts {
    margin-top: 32px !important;
    width: 336px !important;
    left: 0;
  }
  .consumable__content--sweetchoc {
    margin-top: 32px !important;
    width: 336px !important;
    bottom: 0;
  }
}
@media (max-width: 430px) {
  .videoblog .videoblog__container--image {
    height: 500px !important;
    background-image: url("./img/image.png") !important;
  }
  .videoblog .videoblog__container--content .videoblog__container--content--title {
    width: 307px !important;
    padding-left: 14px !important;
  }
  .videoblog .videoblog__container--content .videoblog__container--content--ul {
    padding-left: 14px !important;
  }
}
* {
  padding: 0;
  margin: 0;
}

body {
  overflow-x: hidden;
  background-color: #FAFAFA;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 32px;
  max-width: 1136px;
  margin: 0 auto;
}

.logo a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.nav-links ul {
  display: flex;
  list-style-type: none;
}
.nav-links ul li {
  margin: 0 10px;
}
.nav-links ul li a {
  text-decoration: none;
  color: black;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}
.nav-links ul li a:hover {
  color: #FD9222;
  background-size: 100% 2px;
  padding: 8px;
}

.social-icons a {
  margin: 0 10px;
}
.social-icons a img {
  width: 24px;
  height: 24px;
}
.social-icons a img:hover {
  color: #FD9222;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}
.burger-menu span {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 4px 0;
  transition: 0.4s;
}

.nav-menu {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  right: 0;
  background-color: #1E1823;
  overflow-x: hidden;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.nav-menu ul li {
  margin: 20px 0;
}
.nav-menu ul li a {
  text-decoration: none;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: -0.02em;
  text-align: left;
}
.nav-menu ul li a:hover {
  color: #FD9222;
}
.nav-menu .close-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.nav-menu .close-menu span {
  font-size: 36px;
  color: white;
}

main .background {
  background: url("../img/background.png");
  max-width: 1136px;
  margin: 0 auto;
  border-radius: 30px;
}
main .background .backround__container {
  width: 100%;
  max-width: 1056px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
main .background .backround__container .background__container--box {
  margin-top: 381px;
}
main .background .backround__container .background__container--box .background__container--box--text {
  font-family: Montserrat;
  font-size: 28px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -0.03em;
  text-align: left;
  color: white;
  max-width: 484px;
}
main .background .backround__container .background__container--box .background__container--box--text1 {
  display: none;
}
main .background .backround__container .modal1 {
  background-color: white;
  max-width: 609px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 57%;
  z-index: 1;
  display: none;
}
main .background .backround__container .modal1 .modal1__container {
  max-width: 513px;
  margin: 0 auto;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form1 {
  margin-top: 40px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form1 .modal1__container--names {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form1 .modal1__container--names .modal1__container--names--form1 {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  font-family: Montserrat;
  color: rgba(64, 64, 64, 0.3019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form1 .modal1__container--names .modal1__container--names--form2 {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  font-family: Montserrat;
  color: rgba(64, 64, 64, 0.3019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form1 .modal1__container--form1--text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form2 {
  margin-top: 18px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form2 .modal1__container--form2--text2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form2 .modal1__container--form2--form2 {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 273px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  font-family: Montserrat;
  color: rgba(64, 64, 64, 0.3019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 8px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form3 {
  margin-top: 18px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--input {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  align-items: center;
  max-width: 513px;
  background-color: white;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--form3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(64, 64, 64, 0.3019607843);
  border: none;
  border-left: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  outline: none;
  padding-left: 25px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  padding-left: 18px;
  padding-right: 32px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--text3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form4 {
  margin-top: 18px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--text4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--input {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 513px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  background-color: white;
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 13px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--form4 {
  outline: none;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(64, 64, 64, 0.3019607843);
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--svg {
  padding-left: 215px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form5 {
  margin-top: 18px;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form5 .modal1__container--form5--text5 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .background .backround__container .modal1 .modal1__container .modal1__container--form5 .modal1__container--form5--input--form5 {
  margin-top: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 93px;
  padding-right: 272px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(64, 64, 64, 0.3019607843);
  border-radius: 13px;
}
main .background .backround__container .modal1 .modal1__cards {
  max-width: 513px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 32px;
}
main .background .backround__container .modal1 .modal1__cards .modal1__cards--svg {
  display: none;
}
main .background .backround__container .modal1 .modal1__cards .modal1__cards--card1 {
  max-width: 160px;
  border: 1.5px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .background .backround__container .modal1 .modal1__cards .modal1__cards--card2 {
  max-width: 160px;
  border: 1.5px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .background .backround__container .modal1 .modal1__cards .modal1__cards--card3 {
  max-width: 160px;
  border: 1.5px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .background .backround__container .modal1 .modal1__cards .modal1__cards--card--photo {
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
}
main .background .backround__container .modal1 .modal1__cards .modal1__cards--card--button {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  background-color: #FAFAFA;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #111111;
  margin-bottom: 18px;
}
main .background .backround__container .modal1__titles {
  display: flex;
  justify-content: space-between;
  max-width: 122px;
  margin-top: 48px;
  margin-left: 243px;
}
main .background .backround__container .modal1__titles .modal1__titles--title1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #FD9222;
}
main .background .backround__container .modal1__titles .modal1__titles--title2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1E1823;
}
main .background .backround__container .modal1__container--button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: white;
  margin-top: 18px;
  margin-bottom: 48px;
  transition-duration: 1s;
}
main .background .backround__container .modal1__container--button:hover {
  transform: scale(1.1);
}
main .background .modal222 {
  background-color: #FD9222;
  max-width: 516px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
}
main .background .modal222 .modal222__img {
  position: absolute;
  top: 90px;
  border-radius: 15px;
}
main .background .modal222 .modal222__img--phone {
  display: none;
}
main .background .modal222 .modal222__svg {
  margin-left: 460px;
  margin-top: 32px;
}
main .background .modal222 .modal222__texts {
  max-width: 309px;
  width: 100%;
  margin-top: 90px;
  margin-left: 163px;
  padding-bottom: 134px;
}
main .background .modal222 .modal222__texts .modal222__texts--title {
  color: #FCF1E0;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .background .modal222 .modal222__texts .modal222__texts--text {
  color: #FCF1E0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-top: 8px;
}
main .background .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 31px;
  margin-top: 20px;
}
main .background .close:hover,
main .background .close:focus {
  color: #FD9222;
  text-decoration: none;
  cursor: pointer;
}
main .background .background__container--box--footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1056px;
}
main .background .background__container--box--footer .background__container--box--footer--buttons {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 341px;
  padding-bottom: 40px;
}
main .background .background__container--box--footer .background__container--box--footer--buttons .background__container--box--footer--buttons--button1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  color: white;
  transition-duration: 1s;
}
main .background .background__container--box--footer .background__container--box--footer--buttons .background__container--box--footer--buttons--button1:hover {
  color: #FD9222;
  background-color: #FCF1E0;
  transform: scale(1.1);
}
main .background .background__container--box--footer .background__container--box--footer--buttons .background__container--box--footer--buttons--button2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: rgba(28, 28, 28, 0);
  border: 1px solid white;
  border-radius: 100px;
  color: white;
  transition-duration: 1s;
}
main .background .background__container--box--footer .background__container--box--footer--buttons .background__container--box--footer--buttons--button2:hover {
  background-color: white;
  border-color: #FD9222;
  color: #FD9222;
  transform: scale(1.1);
}
main .background .background__container--scroll {
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 150px;
  width: 100%;
  margin-bottom: 10px;
}
main .background .background__container--scroll .scroll-button {
  background-color: #FD9222;
  color: white;
  border: none;
  padding: 14px 20px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.03em;
  text-align: left;
  transition-duration: 1s;
}
main .background .background__container--scroll .scroll-button::after {
  content: "▼";
  margin-left: 10px;
  display: inline-block;
  transition: transform 0.3s;
}
main .background .background__container--scroll .scroll-button:hover {
  background-color: white;
  color: orange;
  border: 1px solid #FD9222;
  transform: scale(1.1);
}
main .background .background__container--scroll .scroll-button:hover::after {
  transform: rotate(180deg);
}
main .prices {
  width: 100%;
  background-color: #1E1823;
  margin-top: 72px;
}
main .prices .prices__container {
  max-width: 1110px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
main .prices .prices__container .prices__container--border {
  border: 1px solid rgba(255, 255, 255, 0.5019607843);
  height: 124px;
  margin-top: 60px;
}
main .prices .prices__container .prices__container--box1 {
  max-width: 326px;
}
main .prices .prices__container .prices__container--box1 .prices__container--box1--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: white;
  padding-top: 22px;
  padding-bottom: 18px;
}
main .prices .prices__container .prices__container--box1 .prices__container--box1--text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 308px;
}
main .prices .prices__container .prices__container--box2 {
  max-width: 326px;
}
main .prices .prices__container .prices__container--box2 .prices__container--box2--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: white;
  padding-top: 22px;
  padding-bottom: 18px;
}
main .prices .prices__container .prices__container--box2 .prices__container--box2--text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 308px;
}
main .prices .prices__container .prices__container--box3 {
  max-width: 326px;
}
main .prices .prices__container .prices__container--box3 .prices__container--box3--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 21.94px;
  text-align: left;
  color: white;
  padding-top: 22px;
  padding-bottom: 18px;
}
main .prices .prices__container .prices__container--box3 .prices__container--box3--text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(255, 255, 255, 0.6980392157);
  width: 308px;
}
main .consumable {
  padding-top: 128px;
  margin: 0 auto;
  max-width: 1136px;
  width: 100%;
}
main .consumable__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  max-width: 411px;
  width: 100%;
  margin: 0 auto;
}
main .consumable__title--highlight {
  color: #FD9222;
}
main .consumable__text {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  width: 100%;
  margin: 0 auto;
  margin-top: 28px;
  margin-bottom: 50px;
}
main .consumable__content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}
main .consumable__content--milkchoc {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #FD9222;
  border-radius: 20px;
  overflow: hidden;
}
main .consumable__content--milkchoc:hover .overlay {
  animation: showUp 1000ms ease-in-out forwards;
  opacity: 1;
}
@keyframes showUp {
  0% {
    transform: translateY(100);
  }
  100% {
    transform: translateY(0);
  }
}
main .consumable__content--img {
  margin-top: 28px;
}
main .consumable__content--text {
  padding-top: 36px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #FFFFFF;
}
main .consumable__content--milk {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #FFFFFF;
  border: #FD9222 1px solid;
  border-radius: 20px;
  overflow: hidden;
}
main .consumable__content--milk:hover .overlay {
  animation: showUp 1000ms ease-in-out forwards;
  opacity: 1;
}
main .consumable__content--nuts {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #1E1823;
  border-radius: 20px;
  overflow: hidden;
}
main .consumable__content--nuts:hover .overlay {
  animation: showUp 1000ms ease-in-out forwards;
  opacity: 1;
}
main .consumable__content--sweetchoc {
  position: relative;
  width: 270px;
  height: 270px;
  background-color: #FFFFFF;
  border: #FD9222 1px solid;
  border-radius: 20px;
  overflow: hidden;
}
main .consumable__content--sweetchoc:hover .overlay {
  animation: showUp 1000ms ease-in-out forwards;
  opacity: 1;
}
main .consumable__content--text2 {
  padding-top: 36px;
  padding-left: 20px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #111111;
}
main .overlay {
  position: absolute;
  max-width: 336px;
  width: 100%;
  height: 270px;
  border-radius: 20px;
  transform: translateY(100%);
  transition: transform 1500ms ease-in-out;
  background-color: #FFFFFF;
  opacity: 0;
}
main .overlay--text {
  margin-top: 28px;
  padding-left: 28px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .overlay__buttons {
  margin-top: 8px;
  padding-left: 28px;
  display: flex;
}
main .overlay__buttons--button1 {
  width: 81px;
  height: 24px;
  gap: 4px;
  opacity: 0px;
  background-color: #FD9222;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  border-radius: 25px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}
main .overlay__buttons--button2 {
  width: 81px;
  height: 24px;
  margin-left: 5px;
  border: 2px solid #FD9222;
  background-color: #FAFAFA;
  border-radius: 25px;
  font-family: Montserrat;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  color: #111111;
}
main .overlay__buttons--smallbtn {
  width: 54px;
  height: 24px;
  gap: 4px;
  opacity: 0px;
  background-color: #FD9222;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  border-radius: 25px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}
main .overlay__buttons--bigbtn {
  width: 114px;
  height: 24px;
  gap: 4px;
  opacity: 0px;
  background-color: #FD9222;
  border: none;
  border-radius: 10px;
  color: white;
  font-family: Montserrat;
  border-radius: 25px;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
}
main .overlay__text2 {
  width: 214px;
  margin-top: 14px;
  padding-left: 28px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .videoblog {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding-top: 128px;
}
main .videoblog .videoblog__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
}
main .videoblog .videoblog__title .title-orange {
  color: #FD9222;
  text-transform: uppercase;
}
main .videoblog .videoblog__container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding: 0 20px 0 20px;
}
main .videoblog .videoblog__container .videoblog__container--image {
  background-image: url("./img/final.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 600px;
  width: 100%;
  height: 400px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .videoblog .videoblog__container .videoblog__container--content {
  max-width: 516px;
  background-color: #fff;
  border-radius: 15px;
}
main .videoblog .videoblog__container .videoblog__container--content .videoblog__container--content--title {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #111111;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 28px;
  width: 350px;
}
main .videoblog .videoblog__container .videoblog__container--content .videoblog__container--content--ul {
  max-width: 415px;
  padding-left: 52px;
  color: #4C4C4C;
}
main .videoblog .videoblog__container .videoblog__container--content .videoblog__container--content--ul .videoblog__container--content--text {
  margin-bottom: 24px;
}
main .videoblog .videoblog__container .videoblog__container--content .videoblog__container--content--ul .videoblog__container--content--text .li-text {
  color: #111111;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .videoblog .videoblog__line {
  background-color: #D9D9D9;
  height: 51px;
  width: 100%;
  margin-top: 36px;
}
main .modal1 {
  background-color: #FAFAFA;
  max-width: 609px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 57%;
  z-index: 1;
  display: none;
}
main .modal1 .modal1__container {
  max-width: 513px;
  margin: 0 auto;
}
main .modal1 .modal1__container .modal1__container--form1 {
  margin-top: 40px;
}
main .modal1 .modal1__container .modal1__container--form1 .modal1__container--names {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
main .modal1 .modal1__container .modal1__container--form1 .modal1__container--names .modal1__container--names--form1 {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  font-family: Montserrat;
  color: rgba(64, 64, 64, 0.3019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .modal1 .modal1__container .modal1__container--form1 .modal1__container--names .modal1__container--names--form2 {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  font-family: Montserrat;
  color: rgba(64, 64, 64, 0.3019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .modal1 .modal1__container .modal1__container--form1 .modal1__container--form1--text1 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .modal1 .modal1__container .modal1__container--form2 {
  margin-top: 18px;
}
main .modal1 .modal1__container .modal1__container--form2 .modal1__container--form2--text2 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .modal1 .modal1__container .modal1__container--form2 .modal1__container--form2--form2 {
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 24px;
  padding-right: 273px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  font-family: Montserrat;
  color: rgba(64, 64, 64, 0.3019607843);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-top: 8px;
}
main .modal1 .modal1__container .modal1__container--form3 {
  margin-top: 18px;
}
main .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--input {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  align-items: center;
  max-width: 513px;
  background-color: white;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  border-radius: 13px;
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
}
main .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--form3 {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(64, 64, 64, 0.3019607843);
  border: none;
  border-left: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  outline: none;
  padding-left: 25px;
}
main .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--input .modal1__container--form3--input--span {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
  padding-left: 18px;
  padding-right: 32px;
}
main .modal1 .modal1__container .modal1__container--form3 .modal1__container--form3--text3 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .modal1 .modal1__container .modal1__container--form4 {
  margin-top: 18px;
}
main .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--text4 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--input {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 513px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  background-color: white;
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 22px;
  border-radius: 13px;
}
main .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--form4 {
  outline: none;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(64, 64, 64, 0.3019607843);
}
main .modal1 .modal1__container .modal1__container--form4 .modal1__container--form4--input .modal1__container--form4--input--svg {
  padding-left: 215px;
}
main .modal1 .modal1__container .modal1__container--form5 {
  margin-top: 18px;
}
main .modal1 .modal1__container .modal1__container--form5 .modal1__container--form5--text5 {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000000;
}
main .modal1 .modal1__container .modal1__container--form5 .modal1__container--form5--input--form5 {
  margin-top: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.0509803922);
  padding-left: 24px;
  padding-top: 22px;
  padding-bottom: 93px;
  padding-right: 272px;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.94px;
  letter-spacing: -0.02em;
  text-align: left;
  color: rgba(64, 64, 64, 0.3019607843);
  border-radius: 13px;
}
main .modal1 .modal1__cards {
  max-width: 513px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-top: 32px;
}
main .modal1 .modal1__cards .modal1__cards--svg {
  display: none;
}
main .modal1 .modal1__cards .modal1__cards--card1 {
  max-width: 160px;
  border: 1.5px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .modal1 .modal1__cards .modal1__cards--card2 {
  max-width: 160px;
  border: 1.5px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .modal1 .modal1__cards .modal1__cards--card3 {
  max-width: 160px;
  border: 1.5px solid rgba(17, 17, 17, 0.1019607843);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
}
main .modal1 .modal1__cards .modal1__cards--card--photo {
  margin: 0 auto;
  padding-top: 24px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 14px;
}
main .modal1 .modal1__cards .modal1__cards--card--button {
  margin: 0 auto;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 100px;
  border: 1px solid rgba(17, 17, 17, 0.1019607843);
  background-color: #FAFAFA;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: #111111;
  margin-bottom: 18px;
}
main .modal1 .modal1__titles {
  display: flex;
  justify-content: space-between;
  max-width: 122px;
  margin-top: 48px;
  margin-left: 243px;
}
main .modal1 .modal1__titles .modal1__titles--title1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #FD9222;
}
main .modal1 .modal1__titles .modal1__titles--title2 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #1E1823;
}
main .modal1 .modal1__container--button {
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  color: white;
  margin-top: 18px;
  margin-bottom: 48px;
  transition-duration: 1s;
}
main .modal1 .modal1__container--button:hover {
  transform: scale(1.1);
}
main .modal222 {
  background-color: #FD9222;
  max-width: 516px;
  width: 100%;
  border-radius: 15px;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  display: none;
}
main .modal222 .modal222__img {
  position: absolute;
  top: 90px;
  border-radius: 15px;
}
main .modal222 .modal222__img--phone {
  display: none;
}
main .modal222 .modal222__svg {
  margin-left: 460px;
  margin-top: 32px;
}
main .modal222 .modal222__texts {
  max-width: 309px;
  width: 100%;
  margin-top: 90px;
  margin-left: 163px;
  padding-bottom: 134px;
}
main .modal222 .modal222__texts .modal222__texts--title {
  color: #FCF1E0;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: left;
}
main .modal222 .modal222__texts .modal222__texts--text {
  color: #FCF1E0;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
  padding-top: 8px;
}
main .close {
  color: black;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-right: 31px;
  margin-top: 20px;
}
main .close:hover,
main .close:focus {
  color: #FD9222;
  text-decoration: none;
  cursor: pointer;
}
main .top-sellers {
  margin-top: 128px;
}
main .top-sellers .top-sellers__title {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #FD9222;
}
main .top-sellers .top-sellers__title--span {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: -0.03em;
  text-align: center;
  color: #111111;
}
main .top-sellers .top-sellers__imgs {
  max-width: 1136px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
main .top-sellers .top-sellers__imgs .top-sellers__imgs--text {
  display: none;
}
main .top-sellers .top-sellers__container {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1136px;
  margin-top: 32px;
}
main .top-sellers .top-sellers__container .top-sellers__container--button {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 600;
  line-height: 17.07px;
  text-align: left;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #FD9222;
  border: none;
  border-radius: 100px;
  color: white;
  transition-duration: 1s;
  height: 50px;
}
main .top-sellers .top-sellers__container .top-sellers__container--button:hover {
  color: #FD9222;
  background-color: #FCF1E0;
  transform: scale(1.1);
}
main .top-sellers .top-sellers__container .top-sellers__container--text {
  max-width: 407px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
}/*# sourceMappingURL=style.css.map */